{{>header}}

<div class="greeted" align="center"><br><br><br></br>
    <a href='/'>Greet More Peeps  </a>
    <a href='/greeted'>View Greeted Names</a>
    <p>
        <h1 align="center"><u></u></h1></p><br>
    <h3>
  <p>
    {{resultOfSearchedName}}
  </p>
</h3>
</div>

{{>footer}}
