<h1>Web Form</h1>
<form method="post" action="/">
    <input type="text" name="name" value="">
    <br><br>
    <input type="radio" name="language" id="languages" value="isixhosa">Isixhosa
    <input type="radio" name="language" id="languages" value="english">English
    <input type="radio" name="language" id="languages" value="sotho">Sotho
    <br><br>
    <button type="submit" name="button">Greet me</button>
  <p>0</p>
    <p>{{greetingMsg}}</p>
</form>
