<h1>Greetings Web Form!</h1>
<form method="post" action="/" >
    <input type="text" name="name" value=""placeholder="please enter a name" >
    <br><br>
    <input type="radio" name="language" id="languages" value="isixhosa">Isixhosa
    <input type="radio" name="language" id="languages" value="english">English
    <input type="radio" name="language" id="languages" value="sotho">Sotho
    <br><br>
    <button type="submit" name="button">Greet me</button>
    <button type="Reset" name="button">Reset Counter</button>
    <p>{{greetingMsg}}</p>
</form>
