body {
    background-color: lightblue;
    text-align: center;
}

h1 {
    text-align: center;
    color: green;
    font-size: 90px;
    background-position: center;
    background-color: white;
}

/*p {
}*/

.greetedpeeps {
    font-size: 20px;
    font-weight: normal;
}
.greetingMsg{
  font-size: 40px;
  font-weight: bold;
}
